html.color-white.light {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.873 0 0);
  --chart-2: oklch(0.5999 0 0);
  --chart-3: oklch(0.285 0 0);
  --chart-4: oklch(0.738 0 0);
  --chart-5: oklch(0.4495 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

html.color-white.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.285 0 0);
  --chart-2: oklch(0.5999 0 0);
  --chart-3: oklch(0.873 0 0);
  --chart-4: oklch(0.4495 0 0);
  --chart-5: oklch(0.738 0 0);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-red.light {
  --background: oklch(0.9911 0.0008 21.344);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 21.344);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 21.344);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6677 0.2199 21.344);
  --primary-foreground: oklch(0.9892 0.0053 21.344);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 21.344);
  --muted-foreground: oklch(0.5712 0.0091 21.344);
  --accent: oklch(0.9 0.0505 21.344);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 21.344);
  --input: oklch(0.922 0.006 21.344);
  --ring: oklch(0.6677 0.2199 21.344);
  --chart-1: oklch(0.8509 0.0692 21.344);
  --chart-2: oklch(0.7094 0.1501 21.344);
  --chart-3: oklch(0.6677 0.2199 21.344);
  --chart-4: oklch(0.7808 0.1099 21.344);
  --chart-5: oklch(0.6395 0.191 21.344);
  --sidebar: oklch(0.995 0.001 21.344);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 21.344);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 21.344);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 21.344);
  --sidebar-ring: oklch(0.6677 0.2199 21.344);
}

html.color-red.dark {
  --background: oklch(0.145 0.004 21.344);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 21.344);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 21.344);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6677 0.2199 21.344);
  --primary-foreground: oklch(0.9892 0.0053 21.344);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 21.344);
  --muted-foreground: oklch(0.6609 0.0191 21.344);
  --accent: oklch(0.2783 0.08 21.344);
  --accent-foreground: oklch(0.9892 0.0053 21.344);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 21.344);
  --input: oklch(0.325 0.007 21.344);
  --ring: oklch(0.6677 0.2199 21.344);
  --chart-1: oklch(0.2712 0.0901 21.344);
  --chart-2: oklch(0.4296 0.1701 21.344);
  --chart-3: oklch(0.6677 0.2199 21.344);
  --chart-4: oklch(0.3608 0.1294 21.344);
  --chart-5: oklch(0.5103 0.1994 21.344);
  --sidebar: oklch(0.1684 0.003 21.344);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 21.344);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0.01 21.344);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 21.344);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-orange.light {
  --background: oklch(0.9911 0.0008 38.8899);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 38.8899);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 38.8899);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7196 0.1796 38.8899);
  --primary-foreground: oklch(0.9892 0.0053 38.8899);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 38.8899);
  --muted-foreground: oklch(0.5712 0.0091 38.8899);
  --accent: oklch(0.9 0.0505 38.8899);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 38.8899);
  --input: oklch(0.922 0.006 38.8899);
  --ring: oklch(0.7196 0.1796 38.8899);
  --chart-1: oklch(0.8509 0.0692 38.8899);
  --chart-2: oklch(0.7094 0.1501 38.8899);
  --chart-3: oklch(0.7196 0.1796 38.8899);
  --chart-4: oklch(0.7808 0.1099 38.8899);
  --chart-5: oklch(0.6395 0.191 38.8899);
  --sidebar: oklch(0.995 0.001 38.8899);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 38.8899);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 38.8899);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 38.8899);
  --sidebar-ring: oklch(0.7196 0.1796 38.8899);
}

html.color-orange.dark {
  --background: oklch(0.145 0.004 38.8899);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 38.8899);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 38.8899);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7196 0.1796 38.8899);
  --primary-foreground: oklch(0.9892 0.0053 38.8899);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 38.8899);
  --muted-foreground: oklch(0.6609 0.0191 38.8899);
  --accent: oklch(0.2783 0.08 38.8899);
  --accent-foreground: oklch(0.9892 0.0053 38.8899);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 38.8899);
  --input: oklch(0.325 0.007 38.8899);
  --ring: oklch(0.7196 0.1796 38.8899);
  --chart-1: oklch(0.2712 0.0901 38.8899);
  --chart-2: oklch(0.4296 0.1701 38.8899);
  --chart-3: oklch(0.7196 0.1796 38.8899);
  --chart-4: oklch(0.3608 0.1294 38.8899);
  --chart-5: oklch(0.5103 0.1994 38.8899);
  --sidebar: oklch(0.1684 0.003 38.8899);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 38.8899);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0.01 38.8899);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 38.8899);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-yellow.light {
  --background: oklch(0.9911 0.0008 71.6595);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 71.6595);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 71.6595);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.8189 0.1491 71.6595);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 71.6595);
  --muted-foreground: oklch(0.5712 0.0091 71.6595);
  --accent: oklch(0.9 0.0505 71.6595);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 71.6595);
  --input: oklch(0.922 0.006 71.6595);
  --ring: oklch(0.8189 0.1491 71.6595);
  --chart-1: oklch(0.8509 0.0692 71.6595);
  --chart-2: oklch(0.7094 0.1501 71.6595);
  --chart-3: oklch(0.8189 0.1491 71.6595);
  --chart-4: oklch(0.7808 0.1099 71.6595);
  --chart-5: oklch(0.6395 0.191 71.6595);
  --sidebar: oklch(0.995 0.001 71.6595);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 71.6595);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 71.6595);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 71.6595);
  --sidebar-ring: oklch(0.8189 0.1491 71.6595);
}

html.color-yellow.dark {
  --background: oklch(0.145 0.004 71.6595);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 71.6595);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 71.6595);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.8189 0.1491 71.6595);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 71.6595);
  --muted-foreground: oklch(0.6609 0.0191 71.6595);
  --accent: oklch(0.2783 0.08 71.6595);
  --accent-foreground: oklch(0.9892 0.0053 71.6595);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 71.6595);
  --input: oklch(0.325 0.007 71.6595);
  --ring: oklch(0.8189 0.1491 71.6595);
  --chart-1: oklch(0.2712 0.0901 71.6595);
  --chart-2: oklch(0.4296 0.1701 71.6595);
  --chart-3: oklch(0.8189 0.1491 71.6595);
  --chart-4: oklch(0.3608 0.1294 71.6595);
  --chart-5: oklch(0.5103 0.1994 71.6595);
  --sidebar: oklch(0.1684 0.003 71.6595);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 71.6595);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0.01 71.6595);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 71.6595);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-green.light {
  --background: oklch(0.9911 0.0008 142.9273);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 142.9273);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 142.9273);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7412 0.2218 142.9273);
  --primary-foreground: oklch(0.9892 0.0053 142.9273);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 142.9273);
  --muted-foreground: oklch(0.5712 0.0091 142.9273);
  --accent: oklch(0.9 0.0505 142.9273);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 142.9273);
  --input: oklch(0.922 0.006 142.9273);
  --ring: oklch(0.7412 0.2218 142.9273);
  --chart-1: oklch(0.8509 0.0692 142.9273);
  --chart-2: oklch(0.7094 0.1501 142.9273);
  --chart-3: oklch(0.7412 0.2218 142.9273);
  --chart-4: oklch(0.7808 0.1099 142.9273);
  --chart-5: oklch(0.6395 0.191 142.9273);
  --sidebar: oklch(0.995 0.001 142.9273);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 142.9273);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 142.9273);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 142.9273);
  --sidebar-ring: oklch(0.7412 0.2218 142.9273);
}

html.color-green.dark {
  --background: oklch(0.145 0.004 142.9273);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 142.9273);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 142.9273);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7412 0.2218 142.9273);
  --primary-foreground: oklch(0.9892 0.0053 142.9273);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 142.9273);
  --muted-foreground: oklch(0.6609 0.0191 142.9273);
  --accent: oklch(0.2783 0.08 142.9273);
  --accent-foreground: oklch(0.9892 0.0053 142.9273);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 142.9273);
  --input: oklch(0.325 0.007 142.9273);
  --ring: oklch(0.7412 0.2218 142.9273);
  --chart-1: oklch(0.2712 0.0901 142.9273);
  --chart-2: oklch(0.4296 0.1701 142.9273);
  --chart-3: oklch(0.7412 0.2218 142.9273);
  --chart-4: oklch(0.3608 0.1294 142.9273);
  --chart-5: oklch(0.5103 0.1994 142.9273);
  --sidebar: oklch(0.1684 0.003 142.9273);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 142.9273);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0.01 142.9273);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 142.9273);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-emerald.light {
  --background: oklch(0.9911 0.0008 156.3301);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 156.3301);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 156.3301);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.8878 0.1943 156.3301);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 156.3301);
  --muted-foreground: oklch(0.5712 0.0091 156.3301);
  --accent: oklch(0.9 0.0505 156.3301);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 156.3301);
  --input: oklch(0.922 0.006 156.3301);
  --ring: oklch(0.8878 0.1943 156.3301);
  --chart-1: oklch(0.8509 0.0692 156.3301);
  --chart-2: oklch(0.7094 0.1501 156.3301);
  --chart-3: oklch(0.8878 0.1943 156.3301);
  --chart-4: oklch(0.7808 0.1099 156.3301);
  --chart-5: oklch(0.6395 0.191 156.3301);
  --sidebar: oklch(0.995 0.001 156.3301);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 156.3301);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 156.3301);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 156.3301);
  --sidebar-ring: oklch(0.8878 0.1943 156.3301);
}

html.color-emerald.dark {
  --background: oklch(0.145 0.004 156.3301);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 156.3301);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 156.3301);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.8878 0.1943 156.3301);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 156.3301);
  --muted-foreground: oklch(0.6609 0.0191 156.3301);
  --accent: oklch(0.2783 0.08 156.3301);
  --accent-foreground: oklch(0.9892 0.0053 156.3301);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 156.3301);
  --input: oklch(0.325 0.007 156.3301);
  --ring: oklch(0.8878 0.1943 156.3301);
  --chart-1: oklch(0.2712 0.0901 156.3301);
  --chart-2: oklch(0.4296 0.1701 156.3301);
  --chart-3: oklch(0.8878 0.1943 156.3301);
  --chart-4: oklch(0.3608 0.1294 156.3301);
  --chart-5: oklch(0.5103 0.1994 156.3301);
  --sidebar: oklch(0.1684 0.003 156.3301);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 156.3301);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0.01 156.3301);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 156.3301);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-aqua.light {
  --background: oklch(0.9911 0.0008 186.7899);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 186.7899);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 186.7899);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.9071 0.1448 186.7899);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 186.7899);
  --muted-foreground: oklch(0.5712 0.0091 186.7899);
  --accent: oklch(0.9 0.0505 186.7899);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 186.7899);
  --input: oklch(0.922 0.006 186.7899);
  --ring: oklch(0.9071 0.1448 186.7899);
  --chart-1: oklch(0.8509 0.0692 186.7899);
  --chart-2: oklch(0.7094 0.1501 186.7899);
  --chart-3: oklch(0.9071 0.1448 186.7899);
  --chart-4: oklch(0.7808 0.1099 186.7899);
  --chart-5: oklch(0.6395 0.191 186.7899);
  --sidebar: oklch(0.995 0.001 186.7899);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 186.7899);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 186.7899);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 186.7899);
  --sidebar-ring: oklch(0.9071 0.1448 186.7899);
}

html.color-aqua.dark {
  --background: oklch(0.145 0.004 186.7899);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 186.7899);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 186.7899);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.9071 0.1448 186.7899);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 186.7899);
  --muted-foreground: oklch(0.6609 0.0191 186.7899);
  --accent: oklch(0.2783 0.08 186.7899);
  --accent-foreground: oklch(0.9892 0.0053 186.7899);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 186.7899);
  --input: oklch(0.325 0.007 186.7899);
  --ring: oklch(0.9071 0.1448 186.7899);
  --chart-1: oklch(0.2712 0.0901 186.7899);
  --chart-2: oklch(0.4296 0.1701 186.7899);
  --chart-3: oklch(0.9071 0.1448 186.7899);
  --chart-4: oklch(0.3608 0.1294 186.7899);
  --chart-5: oklch(0.5103 0.1994 186.7899);
  --sidebar: oklch(0.1684 0.003 186.7899);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 186.7899);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0.01 186.7899);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 186.7899);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-blue.light {
  --background: oklch(0.9911 0.0008 258.0652);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 258.0652);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 258.0652);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5476 0.2447 258.0652);
  --primary-foreground: oklch(0.9892 0.0053 258.0652);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 258.0652);
  --muted-foreground: oklch(0.5712 0.0091 258.0652);
  --accent: oklch(0.9 0.0505 258.0652);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 258.0652);
  --input: oklch(0.922 0.006 258.0652);
  --ring: oklch(0.5476 0.2447 258.0652);
  --chart-1: oklch(0.8509 0.0692 258.0652);
  --chart-2: oklch(0.7094 0.1501 258.0652);
  --chart-3: oklch(0.5476 0.2447 258.0652);
  --chart-4: oklch(0.7808 0.1099 258.0652);
  --chart-5: oklch(0.6395 0.191 258.0652);
  --sidebar: oklch(0.995 0.001 258.0652);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 258.0652);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 258.0652);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 258.0652);
  --sidebar-ring: oklch(0.5476 0.2447 258.0652);
}

html.color-blue.dark {
  --background: oklch(0.145 0.004 258.0652);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 258.0652);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 258.0652);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.5476 0.2447 258.0652);
  --primary-foreground: oklch(0.9892 0.0053 258.0652);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 258.0652);
  --muted-foreground: oklch(0.6609 0.0191 258.0652);
  --accent: oklch(0.2783 0.08 258.0652);
  --accent-foreground: oklch(0.9892 0.0053 258.0652);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 258.0652);
  --input: oklch(0.325 0.007 258.0652);
  --ring: oklch(0.5476 0.2447 258.0652);
  --chart-1: oklch(0.2712 0.0901 258.0652);
  --chart-2: oklch(0.4296 0.1701 258.0652);
  --chart-3: oklch(0.5476 0.2447 258.0652);
  --chart-4: oklch(0.3608 0.1294 258.0652);
  --chart-5: oklch(0.5103 0.1994 258.0652);
  --sidebar: oklch(0.1684 0.003 258.0652);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 258.0652);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0.01 258.0652);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 258.0652);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-purple.light {
  --background: oklch(0.9911 0.0008 292.4871);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 292.4871);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 292.4871);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5877 0.2214 292.4871);
  --primary-foreground: oklch(0.9892 0.0053 292.4871);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 292.4871);
  --muted-foreground: oklch(0.5712 0.0091 292.4871);
  --accent: oklch(0.9 0.0505 292.4871);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 292.4871);
  --input: oklch(0.922 0.006 292.4871);
  --ring: oklch(0.5877 0.2214 292.4871);
  --chart-1: oklch(0.8509 0.0692 292.4871);
  --chart-2: oklch(0.7094 0.1501 292.4871);
  --chart-3: oklch(0.5877 0.2214 292.4871);
  --chart-4: oklch(0.7808 0.1099 292.4871);
  --chart-5: oklch(0.6395 0.191 292.4871);
  --sidebar: oklch(0.995 0.001 292.4871);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 292.4871);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 292.4871);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 292.4871);
  --sidebar-ring: oklch(0.5877 0.2214 292.4871);
}

html.color-purple.dark {
  --background: oklch(0.145 0.004 292.4871);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 292.4871);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 292.4871);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.5877 0.2214 292.4871);
  --primary-foreground: oklch(0.9892 0.0053 292.4871);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 292.4871);
  --muted-foreground: oklch(0.6609 0.0191 292.4871);
  --accent: oklch(0.2783 0.08 292.4871);
  --accent-foreground: oklch(0.9892 0.0053 292.4871);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 292.4871);
  --input: oklch(0.325 0.007 292.4871);
  --ring: oklch(0.5877 0.2214 292.4871);
  --chart-1: oklch(0.2712 0.0901 292.4871);
  --chart-2: oklch(0.4296 0.1701 292.4871);
  --chart-3: oklch(0.5877 0.2214 292.4871);
  --chart-4: oklch(0.3608 0.1294 292.4871);
  --chart-5: oklch(0.5103 0.1994 292.4871);
  --sidebar: oklch(0.1684 0.003 292.4871);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 292.4871);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0.01 292.4871);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 292.4871);
  --sidebar-ring: oklch(0.439 0 0);
}

html.color-pink.light {
  --background: oklch(0.9911 0.0008 331.8827);
  --foreground: oklch(0.145 0 0);
  --card: oklch(0.995 0.001 331.8827);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(0.995 0.001 331.8827);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7196 0.2762 331.8827);
  --primary-foreground: oklch(0.9892 0.0053 331.8827);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.93 0.0094 331.8827);
  --muted-foreground: oklch(0.5712 0.0091 331.8827);
  --accent: oklch(0.9 0.0505 331.8827);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.922 0.005 331.8827);
  --input: oklch(0.922 0.006 331.8827);
  --ring: oklch(0.7196 0.2762 331.8827);
  --chart-1: oklch(0.8509 0.0692 331.8827);
  --chart-2: oklch(0.7094 0.1501 331.8827);
  --chart-3: oklch(0.7196 0.2762 331.8827);
  --chart-4: oklch(0.7808 0.1099 331.8827);
  --chart-5: oklch(0.6395 0.191 331.8827);
  --sidebar: oklch(0.995 0.001 331.8827);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.995 0.001 331.8827);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.97 0.005 331.8827);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.922 0.005 331.8827);
  --sidebar-ring: oklch(0.7196 0.2762 331.8827);
}

html.color-pink.dark {
  --background: oklch(0.145 0.004 331.8827);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.1684 0.003 331.8827);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.1684 0.003 331.8827);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7196 0.2762 331.8827);
  --primary-foreground: oklch(0.9892 0.0053 331.8827);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2587 0.0112 331.8827);
  --muted-foreground: oklch(0.6609 0.0191 331.8827);
  --accent: oklch(0.2783 0.08 331.8827);
  --accent-foreground: oklch(0.9892 0.0053 331.8827);
  --destructive: oklch(0.6686 0.219 21.5235);
  --destructive-foreground: oklch(0.9892 0.0053 286.3028);
  --border: oklch(0.275 0.006 331.8827);
  --input: oklch(0.325 0.007 331.8827);
  --ring: oklch(0.7196 0.2762 331.8827);
  --chart-1: oklch(0.2712 0.0901 331.8827);
  --chart-2: oklch(0.4296 0.1701 331.8827);
  --chart-3: oklch(0.7196 0.2762 331.8827);
  --chart-4: oklch(0.3608 0.1294 331.8827);
  --chart-5: oklch(0.5103 0.1994 331.8827);
  --sidebar: oklch(0.1684 0.003 331.8827);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.1684 0.003 331.8827);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0.01 331.8827);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0.006 331.8827);
  --sidebar-ring: oklch(0.439 0 0);
}
